[Unit]
Description=Live Compositor example
[Service]
Type=Simple
RestartSec=5
User=ubuntu
ExecStart=/bin/bash -c "/home/ubuntu/project/_build/prod/rel/compositor_example/bin/compositor_example start"
WorkingDirectory=/home/ubuntu
[Install]
WantedBy=multi-user.target
